# General
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.log
.DS_Store

# Java
.class

# Maven
target/

# Eclipse
.project
.metadata
bin/**
local.properties
.classpath
.settings/
.loadpath


# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
